<mat-card class="tarjeta">
  <div>
    <mat-tab-group [selectedIndex]="valor" id="TabsControl" >
      <mat-tab label="Solicitudes por Origen"> <app-requests-by-origin></app-requests-by-origin></mat-tab>
      <mat-tab label="Solicitudes por Distrito"><app-requests-by-district></app-requests-by-district></mat-tab>
      <mat-tab label="Top 10 categorías"><app-top10-categories></app-top10-categories> </mat-tab>
      <mat-tab label="Top 10 vecinales"><app-top10-neighborhoods></app-top10-neighborhoods></mat-tab>
    </mat-tab-group>
  </div>
  <div class="pause">
  <button mat-button (click)="playPause()">
        <mat-icon *ngIf="!pause">pause</mat-icon>
        <mat-icon *ngIf="pause">play_arrow</mat-icon>
    </button>
  </div>
</mat-card>