<mat-accordion>
    <mat-expansion-panel (closed)="ActualizarDesc()" class="dark" Id="principalPanel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Area
            </mat-panel-title>
            <mat-panel-description>
                {{descripcion}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="display: flex; justify-content: space-between;">
            <mat-form-field style="width: 25%;">
                <mat-label>Area de Origen</mat-label>            
                <input matInput [matAutocomplete] = "auto"
                    (input)="updateAutocomplete($event.target.value)"
                    (focus)="updateAutocomplete($event.target.value)"
                    [value]="origen"
                    >

                <mat-autocomplete #auto = "matAutocomplete">
                    <mat-option> cualquiera </mat-option>
                    <mat-option *ngFor = "let area of areas" [value]= area style="display: flex;">
                        {{area}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field style="width: 25%;">
                <mat-label>Area de Destino Actual</mat-label>            
                <input matInput [matAutocomplete] = "auto"
                    (input)="updateAutocomplete($event.target.value)"
                    (focus)="updateAutocomplete($event.target.value)"
                    [value]="destino"
                    >
            </mat-form-field>
            <mat-form-field style="width: 25%;">
                <mat-label>Area de Reiteracion</mat-label>            
                <input matInput [matAutocomplete] = "auto"
                    (input)="updateAutocomplete($event.target.value)"
                    (focus)="updateAutocomplete($event.target.value)"
                    [value]="reiteracion"
                    >
            </mat-form-field>
        </div>
    </mat-expansion-panel>
</mat-accordion>