<mat-accordion>
    <mat-expansion-panel (closed)="ActualizarDesc()" class="dark" Id="principalPanel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Itervenciones
            </mat-panel-title>
            <mat-panel-description>
                {{descripcion}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="width: 100%;display: flex;flex-direction: row;">
            <div style="flex-grow: 1;">
                <mat-radio-group [(ngModel)] = "equipamiento_choice">
                    <mat-radio-button value="con"> con </mat-radio-button>
                    <mat-radio-button value="sin"> sin </mat-radio-button>
                    <mat-radio-button value=""> no seleccionado </mat-radio-button>
                </mat-radio-group>
            </div>

            <div style="flex-grow: 1;">
                <mat-form-field>
                    <mat-label>Tipo</mat-label>
                    <mat-select [(ngModel)] = "equipamiento_seleccionado">
                        <mat-option *ngFor="let tipo of equipamiento_tipo" [value]="tipo">
                            {{tipo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div style="flex-grow: 1;">
                <mat-form-field appearance="fill" style="width: -moz-available;">
                    <mat-label>Detalle</mat-label>
                    <textarea matInput [(ngModel)]="equipamiento_detalle"></textarea>
                </mat-form-field>
            </div>
        </div>

    </mat-expansion-panel>
</mat-accordion>