#principalPanel
    background-color: #53bdd8
    animation-name: none
    animation-duration: 0.5s
    animation-fill-mode: forwards
    animation-timing-function: ease-in
    -webkit-animation-name: none
    -webkit-animation-duration: 0.5s
    -webkit-animation-fill-mode: forwards
    -webkit-animation-timing-function: ease-in

.vecinalOption
    margin-left: 15%

.distritoOption
    color: rgb(110, 110, 110)

.chip
    padding: 0px 0px 0px 5px
    display: flex
    flex-direction: column
    
.subtitulo
    margin: 0px 0px -2px 0px

@keyframes hasData
    0%
        background-color: #53bdd8
    100%
        background-color: #24498f

@-webkit-keyframes hasData
    0%
        background-color: #53bdd8
    100%
        background-color: #24498f