<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>   
<script src="https://unpkg.com/leaflet-sidebar-v2"></script>   

<app-global-nav-bar></app-global-nav-bar>
<app-navbar></app-navbar>
<div class="topBar fila">
    <div class="ordenar fila">
        <mat-form-field>
            <mat-label class="texto-regular">Ordenar por</mat-label>
            <mat-select>
                <mat-option id="boton" class="texto-regular" value="fechaCreacion" (click)="ordenar('fechaR')"> Fecha de creación </mat-option>
                <mat-option id="boton" class="texto-regular" value="fechaEstado" (click)="ordenar('fechaE')"> Fecha de estado </mat-option>
                <mat-option id="boton" class="texto-regular" value="cantidadReiteraciones" (click)="ordenar('reiteraciones')"> Cantidad de reiteraciones </mat-option>
                <mat-option id="boton" class="texto-regular" value="cantidadSolicitantes" (click)="ordenar('solic')"> Cantidad de solicitantes </mat-option>
                <mat-option id="boton" class="texto-regular" value="cantidadAsignaciones" (click)="ordenar('asig')"> Cantidad de asignaciones </mat-option>
                <mat-option id="boton" class="texto-regular" value="cantidadIntervenciones" (click)="ordenar('inter')"> Cantidad de intervenciones </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button (click)="togglePlay()">
            <mat-icon *ngIf="!asc">arrow_downward</mat-icon>
            <mat-icon *ngIf="asc">arrow_upward</mat-icon>
        </button>
    </div>

    <div class="total fila texto-semibold" *ngIf="solicitudes">
        <div *ngIf="solicitudes.length!='1'" style="text-align: right;">{{solicitudes.length}} solicitudes con localización</div>
        <div *ngIf="solicitudes.length=='1'" style="text-align: right;">{{solicitudes.length}} solicitud con localización</div>
        <div>
            <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="downloadFile()">Exportar a CSV</button>
                <button mat-menu-item (click)="exportAsXLSX()">Exportar a XLSX</button>
                </mat-menu>
              
              <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="content fila texto-regular">
        <cdk-virtual-scroll-viewport style="height: 73vh; width: 30vw;" itemSize="93" (scrolledIndexChange)="nextBatch($event)">

            <!--Ghost content placeholder while loading-->
            <div *ngIf="loading">
                <div mat-list *ngFor="let number of [0,1,2,3,4,5]">
                    <ngx-content-loading mat-list-item class="listElement fila"
                        [speed]="'2000ms'"
                        [primaryColor]="'#ebebeb'"
                        [secondaryColor]="'#cfcfcf'">
        
                        <svg:g ngx-rect width="70" height="13" y="10" x="20" rx="5" ry="5"></svg:g>
                        <svg:g ngx-rect width="80" height="50" y="35" x="20" rx="5" ry="5"></svg:g>
                        <svg:g ngx-rect width="40" height="13" y="10" x="330" rx="5" ry="5"></svg:g>
        
                        <svg:g ngx-rect width="90" height="13" y="10" x="120" rx="5" ry="5"></svg:g>
                        <svg:g ngx-rect width="220" height="13" y="40" x="120" rx="5" ry="5"></svg:g>
                        <svg:g ngx-rect width="100" height="15" y="70" x="120" rx="5" ry="5"></svg:g>
                    </ngx-content-loading>
                </div>
            </div>
                <div *ngIf="solicitudes" class="listConteiner">
                        <div mat-list *cdkVirtualFor="let solicitud of solicitudes | sort:{ property: criterio, descending: !asc}">
                            <div mat-list-item class="listElement fila">
                                <div class="fila" style="width: 100%;">
                                    <div class="click fila hov"(click)="this.sendto(solicitud.id, solicitud.anio)">
                                        <div class="colum0 columna">
                                            <div class="texto-semibold">{{solicitud.estado}}</div>
                                            <div><img src="{{solicitud.imagen}}"></div>
                                        </div>
                                        <div class="part2 columna">
                                            <div class="upperPart fila">
                                                <div class="texto-regularitalic font15" style="width: 115px;"><mat-icon class="fsua fsua-recientes iconoPos"></mat-icon>{{solicitud.tiempo}}</div>
                                                <div class="raiting">
                                                    <div *ngIf="solicitud.opinion=='positivo'"><mat-icon class="iconoPos fsua fsua-bueno"></mat-icon></div>
                                                    <div *ngIf="solicitud.opinion=='negativo'"><mat-icon class="iconoPos fsua fsua-malo"></mat-icon></div>
                                                    <div *ngIf="solicitud.opinion=='neutro'"><mat-icon class="iconoPos fsua fsua-neutro"></mat-icon></div>
                                                    <div *ngIf="solicitud.opinion==''"><mat-icon class="iconoPos"></mat-icon></div>
                                                    <div *ngIf="solicitud.reiteraciones>0"  class="cantPersonas">
                                                        <mat-icon matBadge="{{solicitud.solicitantes.length}}" matBadgeSize="small" class="fsua fsua-mi_perfil-o"></mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lowerPart rowContent fila">
                                                <div class="infoConteiner columna">
                                                    <div class="infoType fila">
                                                        <div *ngIf = "solicitud.categoria=='Alumbrado'" class="cut-text"><mat-icon class="iconoPos fsua fsua-alumbrado_publico"></mat-icon> {{solicitud.subtipo}}</div>
                                                        <div *ngIf = "solicitud.categoria=='Colectivos urbanos'" class="cut-text"><mat-icon class="iconoPos fsua fsua-colectivos_urbanos"></mat-icon> {{solicitud.subtipo}}</div>
                                                    </div>
                                                    <div class="infoDescripcion">
                                                        <div *ngIf="solicitud.altura>0" class="cut-text">{{solicitud.calle}} {{solicitud.altura}}</div>
                                                        <div *ngIf="solicitud.interseccion != ''" class="cut-text">{{solicitud.calle}} Y {{solicitud.interseccion}}</div>
                                                    </div>
                                                </div>
        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="arrowSeparator fila hov" (click)="this.panToSolicitud(solicitud.coord_x, solicitud.coord_y)">
                                        <mat-icon class="arrowPos fila">keyboard_arrow_right</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <mat-divider #map></mat-divider>
                        </div>
                    </div>
        </cdk-virtual-scroll-viewport>
    <div class="mapa">
        <app-map (selected)="showMe($event)"></app-map>
    </div>
</div>