<app-global-nav-bar></app-global-nav-bar>
<app-search-bar></app-search-bar>
<app-navbar></app-navbar>
<div class="topBar"><p>this is the top bar</p></div>
<div class="content">
    <div class="listConteiner">
        <div class="listButton">button</div>
        <div class="list">
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        <p>this is the list</p>
        </div>
    </div>
    <div class="map"> this is the map</div>

</div>