.topBar
    align-items: center
    justify-content: space-between

.more
    align-self: left
    padding: 5px

.ordenar
    align-items: center

.content
    height: 72vh

.listConteiner
    width: 100%
    height: 100%
    border-right-width: 1px
    border-right-color: #464343
    border-right-style: solid

cdk-virtual-scroll-viewport
    overflow-x: hidden
    overflow-y: visible
    
.left
    text-align: right
    margin-right: 5px
 
   
//css de la lista de elementos

.listElement
    height: 12vh
    min-height: 100px

//dentro de parte 1

.upperPart
    min-height: 25%
    align-items: center
    justify-content: space-between

mat-checkBox
    margin: 4px

.estado
    margin-top: 0px
    margin-bottom: 0px

.lowerPart
    height: 75%
    min-height: 75%

.imageConteiner
    width: 90px
    height: 60px
    position: relative
    left: 15%
    top: 4%

.imageProperties
    width: 100%
    height: 100%

//fin de parte 1
//comienzo de parte 2


.part2
    min-width: 70%

//dentro de upper part
.iconoPos
    align-self: center
    margin-left: 2%
    color: inherit
    margin-top: 10px

.raiting
    display: inherit
    flex-direction: row
    align-items: inherit

.raiting mat-icon
    margin-top: 15px
    margin-left: 8%

.cantPersonas
    margin: 0px
    align-self: center

//dentro de la lower part
.rowContent
    align-content: center
    align-items: center

.infoConteiner
    height: 100%
    width: 90%
    min-width: 90%
    min-height: 100%

.infoType
    color: inherit
    position: relative
    top: 10%

.infoType mat-icon
    margin-top: 2%

.infoType p
    width: 100%
    align-self: center
    margin-left: 2%
    margin-top: 2%
    margin-bottom: 0px

.infoDescripcion
    position: relative
    left: 1%
    top: 20%

.infoDescripcion p
    margin-left: 5px
    margin-top: 0px
    margin-bottom: 0px
    font-size: 15px

.ng-star-inserted
    width:100%

.arrowSeparator
    align-items: center

.arrowPos
    color: inherit

.example-viewport
    height: 72vh
    width: 30%

.mapa
    height: 72vh
    width: 135vh

.total
    align-items: center

.colum0
    max-width: 130px
    margin: 0px 20px 0px 10px
    justify-content: space-around

.colum0 img
    width: 80px
    height: 60px

.click
    width: 100%

.listMapa
    height: 73vh 
    width: 30vw

@media only screen and (max-width: 1050px)
    .total
        font-size: 14px
    .mat-form-field
        width: 50%
        font-size: 13px
    .mat-button
        min-width: 30px
        padding: 0px
    .mapa
        height: 35vh
        width: 97vw
    .content
        height: 75vh
        flex-direction: column-reverse
    .listMapa
        width: 100%