.topBar
    height: 5vh
    width: 100%
    border-bottom-width: 2px
    border-bottom-color: #464343
    border-bottom-style: solid
    
.content
    display: flex
    height: 70vh

.listConteiner
    width: 30%
    height: 100%
    border-right-width: 1px
    border-right-color: #464343
    border-right-style: solid

.listButton
    height:5%
    background-color: #0086ad

.list
    height:95%
    overflow: scroll

.map
    display: flex
    width: 70%
    height: 100%

//css de la lista de elementos

.listElement
    display: flex
    flex-direction: row
    height: 12vh
    min-height: 100px

.separator
    height: 2px
    background-color: #111111

//datos de cada elemento

.part1
    display: flex
    flex-direction: column
    width: 30%

//dentro de parte 1

.upperPart
    display: flex
    flex-direction: row
    min-height: 25%
    align-items: center

mat-checkBox
    margin: 4px

.estado
    color: #5e5e5e
    margin-top: 0px
    margin-bottom: 0px

.lowerPart
    height:75%
    min-height: 75%

.imageConteiner
    width: 90px
    height: 60px
    position: relative
    left: 15%
    top:4%

.imageProperties
    width: 100%
    height: 100%


//fin de parte 1
//comienzo de parte 2

.part2
    display: flex
    flex-direction: column
    min-width: 75%
    color: #5e5e5e

//dentro de upper part
.iconoPos
    align-self: center
    margin-left: 2%
    color: inherit

.descripcionTiempo
    margin: 0px
    font-size: 13px
    align-self: center

.addDistance
    min-width: 35%

.raiting
    display: inherit
    flex-direction: row
    align-items: inherit

.raiting mat-icon
    margin-top: 12%
    margin-left: 8%

.cantPersonas
    margin: 0px
    align-self: center

//dentro de la lower part
.rowContent
    display: flex
    flex-direction: row
    align-content: center
    align-items: center

.infoConteiner
    display: flex
    flex-direction: column
    height:100%
    width:90%
    min-width: 90%
    min-height: 100%

.infoType
    display: flex
    flex-direction: row
    color: inherit
    position: relative
    top: 10%

.infoType mat-icon
    margin-top: 2%
    
.infoType p
    width:100%
    align-self: center
    margin-left: 2%
    margin-top: 2%
    margin-bottom: 0px

.infoDescripcion
    display: flex
    position: relative
    left: 1%
    top: 20%

.infoDescripcion p
    margin-left: 5px
    margin-top: 0px
    margin-bottom: 0px
    font-size: 15px

.arrowSeparator
    min-width: 10%
    min-height: 100%
    align-content: center
    align-items: center
    display: flex
    
.arrowPos
    display: flex
    color: inherit
    margin-left: 30%
    
