<div class="tarjeta">
    <mat-card-title class="titulo font15">
        <div class="titulo-bold">Opinadas</div>
        <div  class="texto-semibold">
            <h3 *ngIf="!loading else placeholder"> {{total | number:'':'es-AR'}} </h3>
            <ng-template #placeholder><h3>0</h3></ng-template>
        </div>
        <div class="rating-bar" [@panelInOut] style="margin-bottom: 10px">
            <div class="rating positivo" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px" [style.width.%]="positivas">{{positivas}}%</div>
            <div class="rating neutral " [style.width.%]="neutral">{{neutral}}%</div>
            <div class="rating negativo" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px" [style.width.%]="negativas">{{negativas}}%</div>
        </div>
    </mat-card-title>
    <div style="margin-bottom: 10px"><mat-divider></mat-divider></div>

    <div>
        <div *ngIf="!loading else loader">
            <mat-list id="i-{{ind}}" class="lista hov" *ngFor="let item of datos; let ind =index">
                <div class="linea fila" (click)="this.cambiarFondo(ind, item.name)">
                    <div style="align-items: center;" class="fila" *ngIf="item.name == 'Positivas'">
                        <div class="accent positivo"></div><mat-icon id="ico-{{ind}}" class="icono fsua {{item.icono}} fsua-1_5x"></mat-icon>
                    </div>
                    <div style="align-items: center;" class="fila" *ngIf="item.name == 'Negativas'">
                        <div class="accent negativo"></div><mat-icon id="ico-{{ind}}" class="icono fsua {{item.icono}} fsua-1_5x"></mat-icon>
                    </div>
                    <div style="align-items: center;" class="fila" *ngIf="item.name == 'Neutral'">
                        <div class="accent neutral"></div><mat-icon id="ico-{{ind}}" class="icono fsua {{item.icono}} fsua-1_5x"></mat-icon>
                    </div>
                    <div class="fila">
                        <div class="item texto-regular">
                            <h3>{{item.name}}</h3>
                        </div>
                    </div>
                <div class="item texto-semibold"><p>{{item.details | number:'':'es-AR'}}</p></div>
                </div>
            </mat-list>
        </div>
        <ng-template #loader>
            <mat-spinner [diameter]="70"></mat-spinner>
        </ng-template>
    </div>
</div>

<ng-template #error><mat-icon>error</mat-icon> Error</ng-template>
