<div class="tarjeta">
    <mat-card-title class="titulo font15">
        <div class="titulo-bold tituloText">Opinadas</div>
        <div class="totalTextoContenedor">
            <div  class="texto-semibold totalTexto">
                <h3 *ngIf="!loading else placeholder"> {{total | number:'':'es-AR'}} </h3>
                <ng-template #placeholder><h3>0</h3></ng-template>
            </div>
            <div class="rating-bar" [@panelInOut]>
                <div class="numbersContainer">
                    <div class="rating" [style.width.%]="positivas">{{positivas}}%</div>
                    <div class="rating" [style.width.%]="neutral">{{neutral}}%</div>
                    <div class="rating" [style.width.%]="negativas">{{negativas}}%</div>
                </div>
                <div class="colorsContainer">
                    <div class="positivo" [style.width.%]="positivas"></div>
                    <div class="neutral " [style.width.%]="neutral"></div>
                    <div class="negativo" [style.width.%]="negativas"></div>
                </div>
            </div>
        </div>
    </mat-card-title>
    <div class="divicionSpacing"><mat-divider></mat-divider></div>

    <div class="bodyContainer">
        <div class="fullWidth" *ngIf="!loading else loader">
            <mat-list id="i-{{ind}}" class="lista hov fullWidth" *ngFor="let item of datos; let ind =index">
                <div class="linea fila fullHeight" (click)="this.cambiarFondo(ind, item.name)">
                    <div class="fila fullHeight" *ngIf="item.name == 'Positivas'">
                        <div class="accent positivo fullHeight"></div>
                        <mat-icon id="ico-{{ind}}" class="icono fsua {{item.icono}} fsua-1_5x"></mat-icon>
                    </div>
                    <div class="fila fullHeight" *ngIf="item.name == 'Negativas'">
                        <div class="accent negativo fullHeight"></div>
                        <mat-icon id="ico-{{ind}}" class="icono fsua {{item.icono}} fsua-1_5x"></mat-icon>
                    </div>
                    <div  class="fila fullHeight" *ngIf="item.name == 'Neutral'">
                        <div class="accent neutral fullHeight"></div>
                        <mat-icon id="ico-{{ind}}" class="icono fsua {{item.icono}} fsua-1_5x"></mat-icon>
                    </div>
                    <div class="fila">
                        <div class="item texto-regular">
                            <h3>{{item.name}}</h3>
                        </div>
                    </div>
                    <div class="item texto-semibold"><p>{{item.details | number:'':'es-AR'}}</p></div>
                </div>
            </mat-list>
        </div>
        <ng-template #loader>
            <mat-spinner [diameter]="70"></mat-spinner>
        </ng-template>
    </div>
</div>

<ng-template #error><mat-icon>error</mat-icon> Error</ng-template>
