<div class="grid-container">
<div style="height:18vh">
  <app-global-nav-bar
  idSolicitante="{{this.busquedaCompleta.Id_solicitante}}"></app-global-nav-bar>
  <!--<h1 class="mat-h1">SUA Busqueda</h1>-->
  <!--<app-chips-container></app-chips-container>-->
  <app-navbar></app-navbar>
</div>
<!-- probar con un div para regular el tamaño-->
<div style="height:79vh">
  <div style="height: 10%;">
    <app-resumen-banner
    reiteradas_con="{{busquedaCompleta.advSearch.reiteraciones_con}}"
    reiteradas_sin="{{busquedaCompleta.advSearch.reiteraciones_sin}}"
    intervenciones_sin="{{this.busquedaCompleta.advSearch.intervenciones_tipo}}"
    asignaciones_sin="{{this.busquedaCompleta.advSearch.asignacion_tipo}}"></app-resumen-banner>
  </div>

  <div class="grid-container" style="height: 90%; margin:0.5% 0% 0% 0%">

    <div id="MasterCards">
    
    <div id="firstHalf">
      <mat-grid-list cols="2" rows="9" rowHeight="fit">
        
        <mat-grid-tile [colspan] =2 [rowspan] =1> 
          <mat-card class="dashboard-card">
            <app-carta-info cardName="solicitudes"></app-carta-info>
          </mat-card>
        </mat-grid-tile>
  
        <mat-grid-tile [colspan] =1 [rowspan] =5> 
            <mat-card class="dashboard-card"> 
                <app-claims-and-complaints 
                  [title]="'ReclamosDenuncias'">
                </app-claims-and-complaints>
            </mat-card> 
        </mat-grid-tile>

        <mat-grid-tile [colspan] =1 [rowspan] =5> 
            <mat-card class="dashboard-card">
                <app-claims-and-complaints 
                  [title]="'ConsultasReclamos'">
                </app-claims-and-complaints>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan] =1 [rowspan] =1.5> 
          <mat-card class="dashboard-card">
            <app-carta-info cardName="vecinosConSolicitudes"></app-carta-info>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan] =1 [rowspan] =1.5>
          <mat-card class="dashboard-card"> 
            <app-carta-info cardName="agentesConSolicitudes"></app-carta-info>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan] =1 [rowspan] =1.5>
          <mat-card class="dashboard-card">
            <app-carta-info cardName="equipamientoConSolicitudes"></app-carta-info>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan] =1 [rowspan] =1.5> 
          <mat-card class="dashboard-card">
            <app-carta-info cardName="solicitudesConEquipamiento"></app-carta-info>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

  <!-- second half-->

    <div id="secondHalf"> 
        <mat-grid-list cols="2" rows="7" rowHeight="fit">
            <mat-grid-tile [colspan] =1 [rowspan] =3> 
                <mat-card class="dashboard-card"> 
                    <app-requests-by-state></app-requests-by-state>
                </mat-card>
            </mat-grid-tile>
      
            <mat-grid-tile [colspan] =1 [rowspan] =3> 
              <mat-card class="dashboard-card">
                <app-opinadas>
                </app-opinadas> 
              </mat-card> 
            </mat-grid-tile>
      
            <mat-grid-tile [colspan] =2 [rowspan] =4>
              <mat-card class="dashboard-card">
                <app-carousel></app-carousel>
              </mat-card>
            </mat-grid-tile>
      
        </mat-grid-list>
    </div>

  </div>
</div>
