.grid-container 
  margin: 20px

mat-card
  background: #f9fafd

.dashboard-card 
  position: absolute
  top: 9px
  left: 9px
  right: 9px
  bottom: 9px

.more-button 
  position: absolute
  top: 5px
  right: 10px


.dashboard-card-content 
  text-align: center

#MasterCards
  display: flex
  justify-content: center

#firstHalf
  width: 46%

#secondHalf
  width: 46%
  margin-left: 2%

#cardTitle-center
  text-align: center
  margin-bottom: 0.5%
  margin-top: 1%
  font-weight: 500
  color: #161616

#cardContent-big 
  font-size: 53px
  margin-top: 3px
  text-align: center
  color: black

.dashboard-card
  padding: 0px

.dashboard-card p b
  font-weight: 500

#cardTitle
  margin-bottom: 1%
  margin-top: 2%
  margin-left: 3%
  font-weight: 500

#cardContent
  font-size: 48px
  margin-top: 5px
  margin-bottom: 2px
  text-align: right
  color: black
  font-weight: initial
  margin-right: 20px

#separator
  background-color: black
  height: 2px
  width: 96%
  align-content: center
  margin-left:2%

#cardContent-side
  font-size: 45px
  margin-top: 5px