<app-global-nav-bar></app-global-nav-bar>
<!--<h1 class="mat-h1">SUA Busqueda</h1>-->
<!--<app-chips-container></app-chips-container>-->
<app-navbar></app-navbar>
<app-resumen-banner
reiteradas_con="{{busquedaCompleta.advSearch.reiteraciones_con}}"
reiteradas_sin="{{busquedaCompleta.advSearch.reiteraciones_sin}}"
intervenciones_sin="{{this.busquedaCompleta.advSearch.intervenciones_tipo}}"
asignaciones_sin="{{this.busquedaCompleta.advSearch.asignacion_tipo}}">
</app-resumen-banner>
<div class="grid-container">

<div id="MasterCards">
  
  <div id="firstHalf">
    <mat-grid-list cols="2" rows="9" rowHeight="60px">
      
      <mat-grid-tile [colspan] =2 [rowspan] =2> 
        <mat-card class="dashboard-card">
          <app-carta-info cardName="solicitudes"></app-carta-info>
        </mat-card>
      </mat-grid-tile>
 
      <mat-grid-tile [colspan] =1 [rowspan] =5> 
          <mat-card class="dashboard-card"> 
              <app-claims-and-complaints 
                [title]="'ReclamosDenuncias'">
              </app-claims-and-complaints>
          </mat-card> 
      </mat-grid-tile>

      <mat-grid-tile [colspan] =1 [rowspan] =5> 
          <mat-card class="dashboard-card">
              <app-claims-and-complaints 
                [title]="'ConsultasReclamos'">
              </app-claims-and-complaints>
          </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan] =1 [rowspan] =2> 
        <mat-card class="dashboard-card">
          <app-carta-info cardName="vecinosConSolicitudes"></app-carta-info>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan] =1 [rowspan] =2>
        <mat-card class="dashboard-card"> 
          <app-carta-info cardName="agentesConSolicitudes"></app-carta-info>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan] =1 [rowspan] =2>
        <mat-card class="dashboard-card">
          <app-carta-info cardName="equipamientoConSolicitudes"></app-carta-info>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan] =1 [rowspan] =1.5> 
        <mat-card class="dashboard-card">
          <app-carta-info cardName="solicitudesConEquipamiento"></app-carta-info>
        </mat-card>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

<!-- second half-->

  <div id="secondHalf"> 
      <mat-grid-list cols="2" rows="7" rowHeight="60px">
          <mat-grid-tile [colspan] =1 [rowspan] =5> 
              <mat-card class="dashboard-card"> 
                  <app-requests-by-state></app-requests-by-state>
              </mat-card>
          </mat-grid-tile>
    
          <mat-grid-tile [colspan] =1 [rowspan] =5> 
            <mat-card class="dashboard-card">
              <app-opinadas
              positivo="{{busquedaCompleta.advSearch.opinion_positive}}"
              negativo="{{busquedaCompleta.advSearch.opinion_negative}}"
              neutro="{{busquedaCompleta.advSearch.opinion_neutro}}"
              >
              </app-opinadas> 
            </mat-card> 
          </mat-grid-tile>
    
          <mat-grid-tile [colspan] =2 [rowspan] =6>
            <mat-card class="dashboard-card">
              <app-carousel></app-carousel>
            </mat-card>
          </mat-grid-tile>
    
      </mat-grid-list>
  </div>

</div>
