.grid-container 
  margin: 20px

mat-card
  background: #f9fafd

.dashboard-card 
  position: absolute
  top: 15px
  left: 15px
  right: 15px
  bottom: 15px
  background-color: white

.more-button 
  position: absolute
  top: 5px
  right: 10px


.dashboard-card-content 
  text-align: center

#MasterCards
  display: flex

#firstHalf
  width: 46%

#secondHalf
  width: 46%
  margin-left: 2%

#cardTitle-center
  text-align: center
  margin-bottom: 0.5%
  margin-top: 1%
  font-weight: 500
  color: #161616

#cardContent-big
  font-size: 45px
  margin-top: 5px
  text-align: center
  color: #6b6868

.dashboard-card
  padding: 0px

#total
  height: 35%

#cardTitle
  margin-bottom: 1%
  margin-top: 2%
  margin-left: 3%
  font-weight: 500

#cardContent
  font-size: 45px
  margin-top: 5px
  margin-bottom: 2px
  text-align: center
  color: #6B6868

#separator
  background-color: black
  height: 2px
  width: 96%
  align-content: center
  margin-left:2%

#cardContent-side
  font-size: 45px
  margin-top: 5px