.topBar
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

.content
    display: flex
    justify-content: space-between

.more
    align-self: left
    cursor: pointer
    padding: 5px

.more:hover
    background-color: #EFEEEE

.colum0
    display: flex
    flex-direction: column
    max-width: 130px
    text-align: center
    margin: 0px 20px

.colum0 img
    width: 80px
    height: 60px

.tablagen
    display: table
    width: 85%

.fila
    display: table-row
    margin: 4px
    height: 28px

.col
    display: table-cell
    padding: 0px

.ver-mas
    text-align: center
    padding-top: 10px
    cursor: pointer

.colum1
    width: 33%

.colum2
    width: 33%

.colum3
    width: 17%

.colum
    width: 9%

.flecha
    cursor: pointer

.mat-list-base
    padding-top: 2px

.ordenar
    display: flex
    align-items: center

.example-viewport
    height: 600px
