.cut-text 
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap


.is-hidden
    display: none
    
.topBar
    align-items: center
    justify-content: space-between

.content
    justify-content: space-between

.more
    align-self: left
    padding: 5px

.colum0
    max-width: 130px
    text-align: center
    margin: 0px 50px 0px 10px
    justify-content: space-around

.colum0 img
    width: 80px
    height: 60px

.tablagen
    display: table
    width: 90%

.fil
    display: table-row
    margin: 4px
    height: 28px

.col
    display: table-cell
    padding: 0px

.colum1
    width: 33%

.colum2
    width: 33%

.colum3
    width: 17%

.colum
    width: 9%

.mat-list-base
    padding-top: 2px

.ordenar
    padding: 0px 13px 0px 13px
    align-items: center

.selector
    padding: 0px 5px 0px 5px

.example-viewport
    height: 600px

.linea
    width: 100%

.click
    width: 100%

.tiempo
    justify-content: space-between

.total
    align-items: center

.accent
  width: 3.5px
  height: 93px
  margin: 1px 10px 1px 0px

.fixed
    position: fixed
    right: 5%
    bottom: 5%
    z-index: 10

.lis
    height: 70vh

@media only screen and (max-width: 1050px)
    .colum0
        max-width: 100px
        margin: 0px 15px 0px 10px
    .colum1
        width: 43%
        font-size: 14px
    .colum2
        font-size: 14px
        width: 25%
    .font15
        font-size: 14px
    .nroSol
        font-size: 15px
        width: max-content
    .time 
        font-size: 12px
    .total
        font-size: 14px
    .mat-form-field
        width: 50%
        font-size: 13px
    .mat-button
        min-width: 30px
        padding: 0px
    .lis
        height: 65vh