.topBar
    align-items: center
    justify-content: space-between

.content
    justify-content: space-between

.more
    align-self: left
    padding: 5px


.colum0
    max-width: 130px
    text-align: center
    margin: 0px 50px 0px 10px
    justify-content: space-around

.colum0 img
    width: 80px
    height: 60px

.tablagen
    display: table
    width: 90%

.fil
    display: table-row
    margin: 4px
    height: 28px

.col
    display: table-cell
    padding: 0px

.colum1
    width: 33%

.colum2
    width: 33%

.colum3
    width: 17%

.colum
    width: 9%

.mat-list-base
    padding-top: 2px

.ordenar
    align-items: center

.example-viewport
    height: 600px

.linea
    width: 100%

.click
    width: 100%

.tiempo
    justify-content: space-between

.total
    align-items: center

.accent
  width: 3.5px
  height: 93px
  margin: 1px 10px 1px 0px