<app-global-nav-bar></app-global-nav-bar>
<app-search-bar></app-search-bar>
<app-navbar></app-navbar>
<div class="topBar">
    <p>this is the top bar</p>
    <mat-icon class="more">more_vert</mat-icon>
</div>
<div class="content">
    <div class="listConteiner">
        <div class="list">
            <div class="listElement">elemento 1</div>
            <div class="listElement">elemento 2</div>
            <div class="listElement">elemento 3</div>
            <div class="listElement">elemento 4</div>
            <div class="listElement">elemento 5</div>
            <div class="listElement">elemento 6</div>
            <div class="listElement">elemento 7</div>
            <div class="listElement">elemento 8</div>
            <div class="listElement">elemento 9</div>
            <div class="listElement">elemento 10</div>
            <div class="listElement">elemento 11</div>
        </div>
    </div>

</div>