
<div class="sidenavDiv"> 

<mat-sidenav-container class="contenedor">
    <mat-sidenav #sidenav class="sidenav"
    [mode] = over
    [fixedInViewport] = true>
            <div (click)="Close()" class="closeButton">
                <i class="fsua fsua-cancelar closeIcono"></i>
            </div>
            
            <div *ngIf= userLog; else loginBlock style="display: flex; height: 89%;">
                <p> Welcome!</p>
                <p> {{userLog.username}}</p>
            </div>
            <div #loginBlock style="display: flex; height: 89%">
                <p>no hay usuario logeado</p>
                <!--
                <form>
                    <mat-form-field>
                        <input matInput placeholder="Username">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Password">
                    </mat-form-field>
                </form>
                -->
            </div>
    </mat-sidenav>

</mat-sidenav-container>

<div id="screenDarkener" (click)="Close()"></div>


<button mat-button (click)="Open()"><i class="fsua fsua-menu fsua-2x" style="color:#f7f7f8"></i></button>

</div>
