
<div class="sidenavDiv"> 

<mat-sidenav-container class="contenedor">
    <mat-sidenav #sidenav class="sidenav"
    [mode] = over
    [fixedInViewport] = true>
            <div (click)="Close()" class="closeButton">
                <i class="fsua fsua-cancelar closeIcono"></i>
            </div>

            <p>Log In</p>
    </mat-sidenav>

</mat-sidenav-container>

<div id="screenDarkener" (click)="Close()"></div>


<button mat-button (click)="Open()"><i class="fsua fsua-menu fsua-2x" style="color:#f7f7f8"></i></button>

</div>
