.alerta
    display: flex
    flex-direction: column
    position: absolute
    margin: -5px -65px

.mat-icon.mat-icon-inline
    font-size: xxx-large
    
.container
    margin: 0% 3%
    display: flex 
    padding: 0% 3%
    align-items: center

mat-card
    display: flex
    padding: 3px
    margin: 0% 1%
    width: 30%
    min-width: 170px 

mat-card-subtitle
    margin: 8px 0px

mat-card-title
    font-size: 40px

.accent
    margin-right: 5px 
    width: 3px