.alerta
    width: 5%
    height: 100%
    font-size: 1vw

    mat-icon
        text-align: center
        margin: auto
        font-size: 3vw
        width: min-content
    
    div
        margin: auto


.cartas
    width: 95%
    height: 100%

.mat-icon.mat-icon-inline
    font-size: xxx-large
    
.container
    width: 100%
    align-items: center
    justify-content: space-between

mat-card
    display: flex
    padding: 3px
    margin: 0% 1%
    width: 30%
    min-width: 120px 

mat-card-subtitle
    margin: 1% 0px
    color: black
    font-size: 1vw

mat-card-title
    font-size: 35px
    margin-bottom: 0px
    font-size: 2vw

.cut-text
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.hovv:hover
    cursor: pointer

.tit-blanco
    color: white
