<div class="container">

    <div class="alerta">
        <mat-icon [inline]="true">alarm</mat-icon>
        Alertas
    </div >

    <mat-card>
        <mat-card-subtitle> Retiradas </mat-card-subtitle>
        <mat-card-title> 429 </mat-card-title>
    </mat-card >

    <mat-card>
        <mat-card-subtitle>  Sin Intervención </mat-card-subtitle>
        <mat-card-title> 
            10.205 
            <mat-icon>phone_disabled</mat-icon>
        </mat-card-title>
    </mat-card>

    <mat-card>
        <mat-card-subtitle> Sin asignación </mat-card-subtitle>
        <mat-card-title> 
            10.033 
            <mat-icon>stop_screen_share</mat-icon>
        </mat-card-title>
    </mat-card>

    <mat-card>
        <mat-card-subtitle> Vencidas </mat-card-subtitle>
        <mat-card-title> 10.205 </mat-card-title>
    </mat-card>

    <mat-card>
        <mat-card-subtitle> Reprogramadas </mat-card-subtitle>
        <mat-card-title> 1.687 </mat-card-title>
    </mat-card>

    <mat-card>
        <mat-card-subtitle> Resueltas fuera de término </mat-card-subtitle>
        <mat-card-title>  5.578 </mat-card-title>
    </mat-card>

</div>