<div class="container fila" >
    <div class="alerta columna titulo-bold">
        <div>Alertas</div>
        <mat-icon [inline]="true">alarm</mat-icon>
    </div>

    <mat-card id="reiteradas" (click)="this.cambiarFondo('reiteradas')" class="hovv">
        <mat-card-content>
            <mat-card-subtitle id="tit-reiteradas" class="titulo-bold"> Reiteradas </mat-card-subtitle>
            <div>
                <mat-card-title class="texto-semibold" *ngIf="alertas['reiterated']; else placeholder"> 
                    {{alertas['reiterated'].cantidad | number:'':'es-AR'}} 
                </mat-card-title>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card id="sinInter" (click)="this.cambiarFondo('sinInter')" class="hovv">
        <mat-card-content>
            <mat-card-subtitle id="tit-sinInter" class="titulo-bold">  Sin Intervención </mat-card-subtitle>
            <mat-card-title class="texto-semibold" *ngIf="alertas['unintervined']; else placeholder"> 
                {{alertas['unintervined'].cantidad | number:'':'es-AR'}}
                <mat-icon id="ico-sinInter" class="fsua fsua-intervenido fsua-0_5x"></mat-icon>
            </mat-card-title>
        </mat-card-content>
    </mat-card>

    <mat-card id="sinAsig" (click)="this.cambiarFondo('sinAsig')" class="hovv">
        <mat-card-content>
            <mat-card-subtitle id="tit-sinAsig" class="titulo-bold"> Sin asignación </mat-card-subtitle>
            <mat-card-title class="texto-semibold" *ngIf="alertas['unasigned']; else placeholder"> 
                {{alertas['unasigned'].cantidad | number:'':'es-AR'}}
                <mat-icon id="ico-sinAsig" class="fsua fsua-mapa fsua-0_5x"></mat-icon>
            </mat-card-title>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <mat-card-subtitle class="titulo-bold"> Vencidas </mat-card-subtitle>
            <mat-card-title class="texto-semibold" *ngIf="alertas['expired']; else placeholder"> 
                {{alertas['expired'].cantidad | number:'':'es-AR'}} 
            </mat-card-title>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <mat-card-subtitle class="titulo-bold"> Reprogramadas </mat-card-subtitle>
            <mat-card-title class="texto-semibold" *ngIf="alertas['reprogrammed']; else placeholder"> 
                {{alertas['reprogrammed'].cantidad | number:'':'es-AR'}} 
            </mat-card-title>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content class="cut-text">
            <mat-card-subtitle class="titulo-bold cut-text"> Resueltas fuera de término </mat-card-subtitle>
            <mat-card-title class="texto-semibold" *ngIf="alertas['out-of-term']; else placeholder"> 
                 {{alertas['out-of-term'].cantidad | number:'':'es-AR'}} 
            </mat-card-title>
        </mat-card-content>
    </mat-card>

    <ng-template #placeholder>
        <ngx-content-loading
            [speed]="'2000ms'"
            [primaryColor]="'#ebebeb'"
            [secondaryColor]="'#cfcfcf'"
            [width]="300" [height]="60">
            <svg:g ngx-rect width="135" height="55" y="0" x="20" rx="7" ry="7"></svg:g>
        </ngx-content-loading>
    </ng-template>

</div>