.main-container
    width: 84%
    margin-left: 3%
    margin-right: 3%
    display: flex 
    padding-left: 5%
    padding-right: 5%

.element-button
    display: flex
    flex-direction: column
    padding: 0px
    margin-right: 2%
    margin-left: 2%
    width: 30%
    

.elemnto-titulo
    font-size: 14px
    margin-top: 8px
    margin-bottom: 8px 
    color: #878783

.icono
    text-align: center
    font-size: 60px
    color: #ADADA7

.numero-info
    margin: 8px
    font-size: 40px
    color: #ADADA7

.numero-icono-info
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    margin: 8px
    color: #ADADA7

.numero-icono-info p
    font-size: 40px
    margin-left: 8px
    margin-top: 0px
    margin-bottom: 0px
    color: #ADADA7

.numero-icono-info mat-icon
    margin-top:5%