<div class="navbar fila">

    <button class="texto-semibold" mat-button routerLink="/" routerLinkActive="active"> 
        <mat-icon>dashboard</mat-icon>
        Resumen
    </button>

    <button class="texto-semibold" mat-button routerLink="/estadisticas" routerLinkActive="active"> 
        <mat-icon>timeline</mat-icon>
        Estadisticas
    </button>

    <button class="texto-semibold" mat-button routerLink="/listado" routerLinkActive="active"> 
        <mat-icon>dns</mat-icon>
        Listado
    </button>

    <button class="texto-semibold" mat-button routerLink="/mapa" routerLinkActive="active">
        <mat-icon> map</mat-icon>
        Mapa
    </button>

</div>