.navbar
    justify-content: flex-end

.mat-button
    display: flex
    justify-content: space-around
    margin: 5px
    padding: 0px
    min-width: 45px

.mat-button-wrapper
    display: flex
    align-items: center

.desc
    align-items: center

.desc p
    font-size: 0px

.desc:hover
    p
        font-size: 14px
        margin: 0px
        padding: 0px 3px

@media only screen and (max-width: 1050px)
    .material-icons
        font-size: 20px
    .text
        font-size: 13px
    
    
   