<div class="navbar fila">

    <button class="texto-semibold text" mat-button routerLink="/" routerLinkActive="active"> 
        <div class="fila desc">
            <mat-icon>dashboard</mat-icon>
            <p>Resumen</p>
        </div>
    </button>

    <!--<button class="texto-semibold" mat-button routerLink="/estadisticas" routerLinkActive="active"> 
        <mat-icon>timeline</mat-icon>
        Estadisticas
    </button>-->

    <button class="texto-semibold text" mat-button routerLink="/listado/solicitudes" routerLinkActive="active"> 
        <div class="fila desc">
            <mat-icon>dns</mat-icon>
            <p>Listado</p>
        </div>
    </button>

    <button class="texto-semibold text" mat-button routerLink="/mapa/solicitudes" routerLinkActive="active">
        <div class="fila desc">
            <mat-icon> map</mat-icon>
            <p>Mapa</p>
        </div>
    </button>

</div>