.navbar
    justify-content: flex-end

.mat-button
    display: flex
    justify-content: space-around
    margin: 5px
    padding: 0px

@media only screen and (max-width: 800px)
    .material-icons
        font-size: 20px
    .text
        font-size: 13px
    
    
   