<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="/SUA/node_modules/proj4/dist/proj4.js"></script>
<script src="/SUA/node_modules/proj4leaflet/src/proj4leaflet.js"></script>
<script src="/SUA/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<script src="/SUA/node_modules/leaflet.markercluster/dist/MarkerCluster.css"></script>
<script src="/SUA/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css"></script>
<div id="mapid"></div>