.tarjeta
    background-color: white
    width: 100%
    height: 100%
    padding: 0px

.titulo
    color: #161616
    text-align: left
    font-size: 15px
    margin: 2%

.grafico
    text-align: left
    margin-left: 5%

#cardTitle
  margin-bottom: 1%
  margin-top: 2%
  margin-left: 3%
  font-weight: 500

#cardContent
  font-size: 45px
  margin-top: 5px
  margin-bottom: 2px
  text-align: right
  color: black
  margin-right: 18px


