<div style="height: 100%;">
    <mat-card-title class="titulo-bold font15 title" style="height:40%;display: flex;">
        <div class="centered" style="height: 100%; font-size: 1vw;">
            Solicitudes por estado
        </div>
        <div style="height: 100%;">
            <canvas class="grafico" baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [colors]="doughnutChartColors"
                [options] ="doughnutChartOptions"
                [plugins] = "doughnutChartPlugins">
            </canvas>
        </div>
    </mat-card-title>


    <div class="columna" style="height: 58%;">
            <div id="Pendiente" class="fila hov item" style="height:25%" (click)="this.cambiarFondo('Pendiente')">
                <div class="fila" style="margin-left: 1px; align-items: center; height: 100%">
                    <div class="accent accentP"></div>
                    <div class="texto-regular">Pendientes</div>
                </div>
                <div class="texto-semibold" style="margin-right: 10px; font-size: 2vw;">{{doughnutChartData[0] | number:'':'es-AR'}}</div>
            </div>
            <div id="En curso" class="fila hov item" style="height:25%" (click)="this.cambiarFondo('En curso')">
                <div class="fila" style="margin-left: 1px; align-items: center; height: 100%">
                    <div class="accent accentEC"></div>
                    <div class="texto-regular">En curso</div>
                </div>
                <div class="texto-semibold" style="margin-right: 10px; font-size: 2vw;">{{doughnutChartData[1] | number:'':'es-AR'}}</div>
            </div>
            <div id="Resuelto" class="fila hov item" style="height:25%" (click)="this.cambiarFondo('Resuelto')">
                <div class="fila" style="margin-left: 1px; align-items: center; height: 100%">
                    <div class="accent accentR"></div>
                    <div class="texto-regular">Resueltas</div>
                </div>
                <div class="texto-semibold" style="margin-right: 10px; font-size: 2vw;">{{doughnutChartData[2] | number:'':'es-AR'}}</div>
            </div>
            <div id="Cerrado" class="fila hov item" style="height:25%" (click)="this.cambiarFondo('Cerrado')">
                <div class="fila" style="margin-left: 1px; align-items: center; height: 100%">
                    <div class="accent accentC"></div>
                    <div class="texto-regular">Cerradas</div>
                </div>
                <div class="texto-semibold" style="margin-right: 10px; font-size: 2vw;">{{doughnutChartData[3] | number:'':'es-AR'}}</div>
            </div>
    </div>
</div>