.title
  text-align: center
  margin: 2%

.centered
  display: grid
  align-items: center
  justify-content: center

.grafico
  text-align: center
  max-width: 200px

#cardTitle
  margin-bottom: 1%
  margin-top: 2%
  margin-left: 3%
  text-align: center

#cardContent
  font-size: 35px
  margin-top: 5px
  margin-bottom: 2px
  text-align: right
  margin-right: 18px

.accent
  width: 3px
  height: 35px
  margin: 0px 6px 0px 0px

.item
  width: 100%
  justify-content: space-between
  height: 35px
  align-items: center
  padding: 0.8% 0% 0.8% 0%
