<mat-card class="tarjeta">
<!--<mat-card-title class="titulo font15">Solicitudes por Estado
    <h3>{{total}}</h3>
</mat-card-title>-->
<div id="total">
    <p id="cardTitle"> Solicitudes por estado</p>
    <p id="cardContent">{{total}}</p>
    <mat-divider></mat-divider>
  </div>
<div>
    <canvas Id="graph" class="grafico" baseChart
        [data]="hBarChartData"
        [labels]="hBarChartLabels"
        [chartType]="hBarChartType"
        [colors]="hBarChartColors"
        [options] ="hBarChartOptions"
        [plugins] = "hBarChartPlugins"></canvas>
</div>
</mat-card>
