<mat-card-title class="titulo-bold font15 title">
    <div class="centered">
        Solicitudes por estado
        <canvas class="grafico" baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            [colors]="doughnutChartColors"
            [options] ="doughnutChartOptions"
            [plugins] = "doughnutChartPlugins">
        </canvas>
    </div>
</mat-card-title>


<div class="columna">
        <div class="fila hov item">
            <div class="fila" style="margin-left: 1px; align-items: center;">
                <div class="accent accentP"></div>
                <div class="texto-regular">Pendientes</div>
            </div>
            <div class="texto-semibold" style="margin-right: 10px; font-size: 25px;">{{doughnutChartData[0]}}</div>
        </div>
        <div class="fila hov item">
            <div class="fila" style="margin-left: 1px; align-items: center;">
                <div class="accent accentEC"></div>
                <div class="texto-regular">En curso</div>
            </div>
            <div class="texto-semibold" style="margin-right: 10px; font-size: 25px;">{{doughnutChartData[1]}}</div>
        </div>
        <div class="fila hov item">
            <div class="fila" style="margin-left: 1px; align-items: center;">
                <div class="accent accentR"></div>
                <div class="texto-regular">Resueltas</div>
            </div>
            <div class="texto-semibold" style="margin-right: 10px; font-size: 25px;">{{doughnutChartData[2]}}</div>
        </div>
        <div class="fila hov item">
            <div class="fila" style="margin-left: 1px; align-items: center;">
                <div class="accent accentC"></div>
                <div class="texto-regular">Cerradas</div>
            </div>
            <div class="texto-semibold" style="margin-right: 10px; font-size: 25px;">{{doughnutChartData[3]}}</div>
        </div>
</div>