.tarjeta
    background-color: white
    align-items: center
    width: 15rem

.titulo
    padding-bottom: 5px
    color: #ADADA7
    text-align: center
    font-size: 15px

.grafico
    text-align: left
    padding: 0px
    max-width: 15rem