.dashboard-card 
  position: absolute
  top: 15px
  left: 15px
  right: 15px
  bottom: 15px
  background-color: white
  padding: 0px

.dashboard-card-content 
  text-align: center

#cardTitle-center
  text-align: center
  margin-bottom: 0px
  margin-top: 1%
  font-weight: 500
  color: #161616
  font-size: 17px

#cardContent-big 
  font-size: 53px
  margin-top: 0px
  text-align: center
  color: black

#cardTitle
  margin-bottom: 1%
  margin-top: 2%
  margin-left: 3%
  font-weight: 500

#cardContent
  font-size: 35px
  margin-top: 5px
  margin-bottom: 2px
  text-align: right
  color: black
  font-weight: initial
  margin-right: 20px

#cardContent-side
  font-size: 45px
  margin-top: 5px

.dashboard-card p b
  font-weight: 500