<div id="{{title_value}}" class="fondo-blanco hovv contenedor-row" *ngIf="title_value!='Solicitudes'">
    <div  class="titulo-otros" (click)="this.cambiarFondo(title_value)">
        <div class="titulo-bold font15">
            <p id={{title_style}}> {{title_value}} </p>
        </div>
    </div>
    <div class="contenido-otro" (click)="this.cambiarFondo(title_value)">
        <div class="texto-semibold amount">
            <div id="{{content_style}}"><p class="tit-negro" style="margin: 0px" id="num-{{title_value}}">{{content_value | number:'':'es-AR'}}</p></div>
        </div>
    </div>
    <div *ngIf="title_value!='Solicitudes con equipamiento'" style="cursor: pointer" class="texto-regular ver-mas" (click)="this.openD()">
        <mat-icon>control_point</mat-icon>
    </div>
</div>
<div *ngIf="title_value=='Solicitudes'" class="contenedor-row">
    <div class="titulo-bold font15 titulo-Solicitud">
        <p id={{title_style}} class="texto-solicitudes-p"> {{title_value}} </p>
    </div>
    <div class="texto-semibold texto-solicitud">
        <p id={{content_style}}>{{content_value | number:'':'es-AR'}}</p>
    </div>
</div>