.cut-text 
    display: inline-block
    overflow: hidden
    white-space: nowrap
    width: 90%
    text-overflow: ellipsis

.tarjeta
    height:100%
    width: 100%
    padding: 0px

.titulo
    height:23%
    font-size: 1.3vw !important
    font-weight: normal
    margin: 0
    padding-top: 5px
    padding-left: 5px

.tarjeta h3
    font-weight: bold
    text-align: start
    margin: 0

.lista 
    padding-top: 0 !important
    padding-left: 5px
    height:20%

.linea
    align-items: center
    width: 100%
    justify-content: space-between
    //max-height: 50px


.item h3
    padding: 5px
    font-size: 14px
    flex: 8
    order: 1
    font-weight: lighter

.item p
    font-size: 25px
    padding: 5px
    margin: 0px
    flex: 1
    margin-right: 7px

.icono
    width: 10%
    order: 0
    text-align: center
    font-size: 20px
    color: #555353
    padding: 5px 5px 5px 0px

loader
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    overflow: hidden
    height: 70%

.ver-mas
    padding: 5px
    max-width: 25%
    margin: 0px auto

.ver-mas p 
    margin: 0px

.hovv:hover
    cursor: pointer

.fondo-azul
    background-color: rgb(0, 102, 204)
    color: white

.fondo-blanco
    background-color: rgb(249, 250, 253)
    color: black

.tit-blanco
    color: white

.tit-negro
    color: black