<div class="tarjeta">
    <mat-card-title class="titulo">
        <div class="titulo-bold" *ngIf="title == 'ReclamosDenuncias'">Reclamos y denuncias</div>
        <div class="titulo-bold" *ngIf="title == 'ConsultasReclamos'">Trámites y consultas</div>
        <div  class="texto-semibold">
            <h3 *ngIf="!loading else placeholder"> {{total | number:'':'es-AR'}} </h3>
            <ng-template #placeholder><h3>0</h3></ng-template>
        </div>
    </mat-card-title>

    <mat-divider></mat-divider>

    <div style="display: flex; justify-content: center; ">
        <div *ngIf="loading">
            <mat-progress-spinner
                color="primary" 
                mode="indeterminate">
            </mat-progress-spinner> 
        </div>
    </div>
    <div class="bodyContainer">
        <div class="fullHeight" *ngIf="!loading else loader">
            <mat-list id="{{title}}-{{item.name}}" class="fondo-blanco lista" *ngFor="let item of data | sort:{ property: 'details', descending: 'true'} | slice:0:4; let i =index">
                <div id="div-{{i}}" class="linea fila hovv" (click)="this.cambiarFondo(item.name, title, i)" >
                    <mat-icon id="ico-{{title}}-{{item.name}}" class=" tit-negro icono fsua {{item.icono}} fsua-1_5x"></mat-icon>
                    <div class="fila cut-text">
                        <div class="item texto-semibold">
                            <h3 class="cut-text">{{item.name}}</h3>
                        </div>
                    </div>
                    <div class="item texto-semibold"><p>{{item.details | number:'':'es-AR'}}</p></div>
                </div>
            </mat-list>
            <div style="text-align: center">
                <div class="hov ver-mas" (click)="this.open()">
                    <p *ngIf="title == 'ReclamosDenuncias'" class="texto-regular" matBadge="{{matBadge}}" matBadgeSize="small">VER MÁS</p>
                    <p *ngIf="title == 'ConsultasReclamos'" class="texto-regular" matBadge="{{matBadgeCR}}" [matBadgeHidden]="matBadgeCR==0"  matBadgeSize="small">VER MÁS</p>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #error><mat-icon>error</mat-icon> Error</ng-template>
