<mat-card class="tarjeta">
    <mat-card-title class="titulo font15">
        <div class="titulo-bold">Reclamos y denuncias</div>
        <div class="texto-semibold"><h3> {{total}} </h3></div>
    </mat-card-title>

    <mat-divider></mat-divider>

    <mat-list class="lista hov" *ngFor="let item of items">
        <div class="item fila" style="max-height: 40px;" [matMenuTriggerFor]="menu">
            <div><mat-icon class="icono fsua {{item.icono}} fsua-1_5x"></mat-icon></div>
            <div class= "fila" style="justify-content: space-between; width: 95%; align-items: center">
                <div class="item texto-regular"><h3>{{item.name}}</h3></div>
                <div class="item texto-semibold"><p>{{item.details}}</p></div>
            </div>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="this.sendToList(item.name)"> <mat-icon style="color: black">dns</mat-icon> Ver en listado</button>
            <button mat-menu-item (click)="this.sendToMap(item.name)"> <mat-icon style="color: black">map</mat-icon> Ver en mapa</button>
        </mat-menu>
    </mat-list>
</mat-card>
