@import 'src/my-theme.scss'


.mainContainer
    background-color: $searchbar-color
    width: 100%
    height: 100%
    align-content: center
    align-items: center

mat-form-field
    margin: 10px
    height: 100%
    color: $white-theme
    
    margin-top: 0px
    margin-bottom: 0px
    width: 100%

button 
    color: white !important
    margin: 3px 0px
    
.short
    width: 8%

.medium
    width: 15%

.large
    width: 22%

::ng-deep.mat-datepicker-content .mat-calendar
    height: unset !important

::ng-deep.mat-expansion-panel-body
    padding: 0 !important

::ng-deep.mat-expansion-panel
    display: flex !important

.search-button
    max-height: 100%
    text-align: center

.filtrar
    margin: 1.5%
    margin-bottom: 0% 

.boton
    margin-left: 5px

.punto
    min-height: 50px
    width: 100%
    margin-top: 2%
    margin-bottom: 2%

    p 
        margin: 2px

.dir
    color: $white-theme
    padding-left: 2%

.optionPunto
    height: auto
    white-space: normal
    line-height: 22px

.altura
    color: $white-theme
    line-height: 18px
    padding-left: 2%
    p 
        margin: 0px

.blanco
    color: $white-theme

