@import 'src/my-theme.scss'


.mainContainer
    background-color: $searchbar-color
    width: 100%
    height: 100%
    align-content: center
    align-items: center

mat-form-field
    margin: 10px
    height: 100%
    color: $white-theme
    
    margin-top: 0px
    margin-bottom: 0px
    width: 100%

button 
    color: white !important
    margin: 3px 0px

.separador
    margin-left: 15%

.white-border
    border: $white-theme-lighter
    border-width: 1px
    border-style: solid
    
.short
    width: 8%

.medium
    width: 15%

.large
    width: 22%

::ng-deep.mat-datepicker-content .mat-calendar
    height: unset !important

::ng-deep.mat-expansion-panel-body
    padding: 0 !important

::ng-deep.mat-expansion-panel
    display: flex !important

.search-button
    max-height: 100%
    text-align: center

//dropdown styles

.dropdow-titulo
    margin: 0%
    text-align: center

.dropdown-menu
    float: right

.dropdown-container
    display: none
    position: absolute
    background-color: #ffffff
    min-width: 160px
    overflow: auto
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
    z-index: 4
    right: 0

.dropdown-mask
    position: fixed
    display: none
    height: 100vh
    width: 100vw
    top: 0
    left: 0
    z-index: 3

.dropdown-button
    background-color: #ffffff

.dropdown-button :hover
    background-color: #d3d3d3
    cursor: pointer

.dropdown-itemsContainer

.dropdown-text
    padding-left: 2%
    padding-top: 10%
    padding-bottom: 10%
    margin: 0%

.show
    display: block

//end of dropdown styles
.filtrar
    margin-bottom: 0% 

.boton
    margin-left: 5px

.punto
    min-height: 50px
    width: 100%
    margin-top: 2%
    margin-bottom: 2%

    p 
        margin: 2px

.dir
    color: $white-theme
    padding-left: 2%

.optionPunto
    height: auto
    white-space: normal
    line-height: 22px

.altura
    color: $white-theme
    line-height: 18px
    padding-left: 2%
    p 
        margin: 0px

.blanco
    color: $white-theme

.mat-dialog-container
    padding: 20px 24px
    
input[type="number"] 
    -moz-appearance: textfield

input[type="number"]:hover,
input[type="number"]:focus 
    -moz-appearance: number-input

@media only screen and (max-width: 1050px)
    .cont
        font-size: 13px
        margin-left: 3%
    .material-icons
        font-size: 23px
    .mat-stroked-button
        min-width: 40px
        padding: 0px
    .search-button
        text-align: center
    .mat-select-placeholder
        font-size: 13px
    .medium
        font-size: 13px
        width: 20%
    mat-form-field
        margin: 6.5px
    .short
        width: 7%
    .large
        width: 22%
