
.mainContainer
    background-color: rgba(0, 134, 173, 1)
    width: 100%
    height: 20%
    display: flex
    flex-direction: row

mat-form-field
    margin: 10px
    height: 100%
    color: #e1e1e1
    margin: 10px
    margin-bottom: 0px
    width: 20rem

.short
    width: 110px

.medium
    width: 220px

::ng-deep.mat-datepicker-content .mat-calendar
    height: unset !important
