
<div class="mainContainer dark" [formGroup]="form">
    
    <mat-form-field class="medium">
        <input matInput
            placeholder="Fechas"
            [satDatepicker]="picker"
            formControlName="date">
            
        <sat-datepicker #picker 
            [rangeMode]="true"
            [calendarFooterComponent]="rangesFooter"></sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
    </mat-form-field>
   

    <mat-form-field class="short">
        <input matInput placeholder="Numero" formControlName="Id_solicitud">
    </mat-form-field>

    <mat-form-field class="short">
        <input matInput placeholder="Año" [textMask]="yearMask" formControlName="año">
    </mat-form-field>

    <mat-form-field class="large">
        <input matInput type="text" 
            placeholder="Ubicacion" 
            formControlName="ubicacion" 
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
         </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="short">
        <input matInput type="text" placeholder="Radio" maxlength=4 formControlName="radio">
    </mat-form-field>

    <mat-form-field class="large">
        <input matInput placeholder="Solicitante" formControlName="Id_solicitante">
    </mat-form-field>
    <div class="boton">
        <div class="filtrar">
            <button mat-button (click)="openDialog()"> <i class="fsua fsua-filtrar fsua-1_5x" style="color: #f7f7f8"> </i></button>
        </div>

        <div class="serch-button">
            <button mat-raised-button (click)="sendInfo()" color= "accent"><mat-icon style="color: inherit;" >search</mat-icon></button>
        </div> 
    </div>
</div>

<mat-expansion-panel [disabled]="true" #mep="matExpansionPanel">
    <app-chips-container></app-chips-container>
</mat-expansion-panel>
 
