
<div class="mainContainer dark" [formGroup]="form">
    
    <mat-form-field class="medium">
        <input matInput
            placeholder="Fechas"
            [satDatepicker]="picker"
            formControlName="date">
            
        <sat-datepicker #picker 
            [rangeMode]="true"
            [calendarFooterComponent]="rangesFooter"></sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
    </mat-form-field>
   

    <mat-form-field class="short">
        <input matInput placeholder="Numero" [textMask]="numberMask">
    </mat-form-field>

    <mat-form-field class="short">
        <input matInput placeholder="Año" [textMask]="yearMask">
    </mat-form-field>

    <mat-form-field >
        <input matInput type="text" 
            placeholder="Ubicacion" 
            formControlName="ubicacion" 
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
         </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="short">
        <input matInput type="text" placeholder="Radio" maxlength=4>
    </mat-form-field>

    <mat-form-field >
        <input matInput placeholder="Solicitante" [textMask]="numberMask">
    </mat-form-field>

    <button mat-button (click)="mep.expanded = !mep.expanded">
        <span class="fsua fsua-filtrar"></span> Filtrar
    </button>
    
</div>

<mat-expansion-panel [disabled]="true" #mep="matExpansionPanel">
    <app-chips-container></app-chips-container>
</mat-expansion-panel>
