<mat-dialog-content *ngIf="data.name == 'vecinosConSolicitudes'" class="tablagen">
    <div class="fil titulo-bold">
        <div class="col col1" style="padding-left:10 px">DNI</div>
        <div class="col">APELLIDO Y NOMBRE</div>
        <div class="col col3">CANTIDAD DE SOLICITUDES</div>
    </div>
    <div class="fil hov texto-regular" *ngFor="let vec of vecinos | sort:{ property: 'cantidad_solicitudes', descending: true}">
        <div class="col col1"><p>{{vec.dni_solicitante}}</p></div>
        <div class="col"><p>{{vec.apellido_solicitante}}, {{vec.nombre_solicitante}}</p></div>
        <div class="col col3"><p>{{vec.cantidad_solicitudes}}</p></div>
    </div>
</mat-dialog-content>
<mat-dialog-content *ngIf="data.name == 'agentesConSolicitudes'" class="tablagen">
    <div class="fil titulo-bold">
        <div class="col col1" style="padding-left:10 px">DNI</div>
        <div class="col">APELLIDO Y NOMBRE</div>
        <div class="col col3">CANTIDAD DE SOLICITUDES</div>
    </div>
    <div class="fil hov texto-regular" *ngFor="let vec of vecinos | sort:{ property: 'cantidad_solicitudes', descending: true}">
        <div class="col col1"><p>{{vec.dni_agente}}</p></div>
        <div class="col"><p>{{vec.apellido_agente}}, {{vec.nombre_agente}}</p></div>
        <div class="col col3"><p>{{vec.cantidad_solicitudes}}</p></div>
    </div>
</mat-dialog-content>
<mat-dialog-content *ngIf="data.name == 'equipamientoConSolicitudes'" class="tablagen">
    <div class="fil titulo-bold">
        <div class="col colum1" style="padding-left:10 px">ETIQUETA</div>
        <div class="col colum2">DESCRIPCIÓN</div>
        <div class="col">DIRECCIÓN</div>
        <div class="col colum3"> CANTIDAD DE SOLICITUDES</div>
    </div>
    <div class="fil hov texto-regular" *ngFor="let vec of vecinos | sort:{ property: 'cantidad_solicitudes', descending: true}">
        <div class="col colum1"><p>{{vec.etiqueta_equipamiento}}</p></div>
        <div class="col colum2"><mat-icon class="fsua {{vec.icono}}" style="margin-right: 20px;"></mat-icon>{{vec.descripcion_equipamiento}}</div>
        <div class="col"><p>{{vec.direccion}}</p></div>
        <div class="col colum3"><p>{{vec.cantidad_solicitudes}}</p></div>
    </div>
</mat-dialog-content>
<mat-dialog-content *ngIf="data.name == 'solicitudesConEquipamiento'" class="tablagen">
    <div class="fil titulo-bold">
        <div class="col colum3">NÚMERO</div>
        <div class="col colum2">SUBTIPO</div>
        <div class="col colum3">ESTADO</div>
        <div class="col">ETIQUETA</div>
    </div>
    <div class="fil hov texto-regular" *ngFor="let vec of vecinos | sort:{ property: 'cantidad_solicitudes', descending: true}">
        <div class="col colum3"><p>{{vec.numero}}-{{vec.anio}}</p></div>
        <div class="col colum2"><p>{{vec.subtipo}}</p></div>
        <div class="col colum3"><p>{{vec.estado}}</p></div>
        <div class="col"><p>{{vec.etiqueta_equipamiento}}</p></div>
    </div>
</mat-dialog-content>