.tablagen
    display: table
    width: 100%
    text-align: center

.fil
    display: table-row
    margin: 4px
    height: 40px

.col
    display: table-cell
    padding: 0px
    align-items: center

.col1
    width: 20%

.col3
    width:30%

.col p
    padding-left: 10px

.colum1
    width: 10%

.colum2
    width: 40%

.colum3
    width: 15%
