.container
    background-color: rgba(0, 134, 173, 1)
    width: 100%

.separator
    width: 5px

.firstPart
    font-weight: bolder
    font-style: italic
    font-size: 30px
    margin: 1px
    margin-left: 8%
    color: #f7f7f8

.secondPart
    align-self: flex-end
    font-size: 1.7vw
    margin: 1px
    margin-bottom: 8px
    margin-left: 3%
    color: #f7f7f8

.fila
    display: flex
    align-items: center 

.title
    display: flex
    width: 16%

.search
    width: 80%
    margin-right: 1.5%

.icono
    width: 4%