
.direccion
  display: flex
  align-content: center
  align-items: center
  height: 60px

.example-margin
  margin-left: 1%
  margin-right: 2%


#principalPanel
    background-color: #ffffff
    animation-name: none
    animation-duration: 0.5s
    animation-fill-mode: forwards
    animation-timing-function: ease-in
    -webkit-animation-name: none
    -webkit-animation-duration: 0.5s
    -webkit-animation-fill-mode: forwards
    -webkit-animation-timing-function: ease-in

.body
  padding: 0 24px 16px !important

.mat-expansion-panel
  display: block !important

//animacion de los paneles
  @keyframes hasData
    0%
        background-color: #ffffff
    100%
        background-color: #0086ad

@-webkit-keyframes hasData
    0%
        background-color: #ffffff
    100%
        background-color: #0086ad
