<mat-card class="tarjeta">
    <mat-card-title class="titulo font15">
        <div class="titulo-bold">Consultas y Trámites</div>
        <div class="texto-semibold"><h3> {{total}} </h3></div>
    </mat-card-title>   

    <mat-divider></mat-divider>

    <mat-list class="lista  hov" *ngFor="let item of items">
        <div class="linea fila" style="max-height: 40px;">
            <div class="fila">
                <mat-icon class="icono fsua {{item.icono}} fsua-1_5x"></mat-icon>
                <div class="item texto-semibold">
                    <h3 class="cut-text">{{item.name}}</h3>
                </div>
            </div>
            <div class="item texto-semibold"><p>{{item.details}}</p></div>
        </div>
    </mat-list>

</mat-card>