
<mat-chip-list #chipList  class="mainContainer">
    <mat-chip *ngFor="let chip of chips" [selectable]="selectable" [removable]="removable" (removed)="remove(chip)">
        {{chip.value}}
        <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>

</mat-chip-list>
<br>
<p class = "messange">Ingrese un nuevo chip:</p>
<input  class="chipInput"
        placeholder = "nuevo chip..."
        [matChipInputFor] = "chipList"
        [matChipInputSeparatorKeyCodes] = "separatorKeys"
        [matChipInputAddOnBlur] = "addOnBlur"
        (matChipInputTokenEnd) = "add($event)">
