<div class="container">

    
    <h5 class="legend">Filtros: </h5>

    <mat-chip-list #chipList>
        <mat-chip *ngFor="let chip of chips" 
            [selectable]="selectable" 
            [removable]="removable" 
            (removed)="remove(chip)"
            color="primary" selected="true">
                <mat-icon class="fsua {{chip.icon}} fsua-2x"></mat-icon>
                <div class="chip">
                    <h6 class="subtitulo">{{chip.category}}</h6>
                    {{chip.description}}
                </div>
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
    <div>
        <button *ngIf="!searchBoxVisible" mat-chip class="add" (click)="showSearch()">Agregar +</button>

        <div *ngIf="searchBoxVisible">
            <input matInput  #search 
                placeholder = "Agregar"
                autocapitalize="off"
                autocomplete="off"
                (input)="onSearchChange($event.target.value)"
                [matChipInputFor] = "chipList"
                [matChipInputSeparatorKeyCodes] = "separatorKeys"
                [matChipInputAddOnBlur] = "addOnBlur"
                [matAutocomplete]="auto"/>

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-optgroup *ngFor="let group of filteredOptions | async" [label]="group.category" >
                    <mat-option *ngFor="let option of group.tags " [value]="option">
                        {{ option.description }}
                    </mat-option>
                </mat-optgroup>
            </mat-autocomplete>
        </div>
    </div>
        
    </mat-chip-list>
</div>
