@import '~@angular/material/theming';
@include mat-core();


//---- Fonts ------------------

.titulo-bold{
    font-family: ralewaybold;
}

.titulo-extrabold{
    font-family: ralewayextrabold;
}

.titulo-black{
    font-family: ralewayblack;
}

.texto-regular{
    font-family: open_sansregular;
}

.texto-regularitalic{
    font-family: open_sansitalic;
}

.texto-semibolditalic{
    font-family: open_sanssemibold_italic;
}

.texto-semibold{
    font-family: open_sanssemibold;
}

.texto-secundario{
    color: hsl(0,0%,15%)
}


//---------------------------------



//Variables de colores a usar
//--- Estados
//------ cerrado
$cerrado-theme: #0066cc;
$cerrado-theme-lighter: #0787d1;
$cerrado-theme-darker: #0053be;

//------ Resuelto
$resuelto-theme:#0dc1e0;
$resuelto-theme-lighter:#25dae7;
$resuelto-theme-darker:#0a8bc7;

//------ En curso
$encurso-theme:#3bdb98;
$encurso-theme-lighter:#5cee9e;
$encurso-theme-darker:#2ab9ad;

//------ Pendiente
$pendiente-theme:#616161;
$pendiente-theme-lighter:#adadad;
$pendiente-theme-darker:#3a3a3a;

//--- Alertas

//------ Leve
$leve-theme:#e4bb36;
$leve-theme-lighter:#f0d24e;
$leve-theme-darker:#d1972b;

//------ Mediano
$medio-theme:#87488d;
$medio-theme-lighter:#9c5a99;
$medio-theme-darker:#653670;

//------ Grave
$grave-theme:#b42e39;
$grave-theme-lighter:#c24d3e;
$grave-theme-darker:#94233f;



//color blanco 
$white-theme: #ffffff;
$white-theme-lighter:#eeeeee; 
$white-theme-darker: #d1d1d1;


//colores necesarios para la animacion
//color en el que cambia al hacer cambios en filtro avanzado
$Highlight-color: $cerrado-theme;

//color de la barra titula
$navbar-color: $cerrado-theme;

//color de fondo  de busqueda
$searchbar-color: $cerrado-theme;


//Temas para uso de angular por cada color
//-------- normal --------
$angular-estado-cerrado: ( default: $cerrado-theme, 
                    lighter:$cerrado-theme-lighter, 
                    darker: $cerrado-theme-darker,
                    text: $cerrado-theme,
                    
                    default-contrast: $light-primary-text,
                    lighter-contrast: $light-primary-text,
                    darker-contrast: $light-primary-text
);

$angular-estado-resuelto: ( default: $resuelto-theme, 
                    lighter:$resuelto-theme-lighter, 
                    darker: $resuelto-theme-darker,
                    text: $resuelto-theme,
                    
                    default-contrast: $light-primary-text,
                    lighter-contrast: $light-primary-text,
                    darker-contrast: $light-primary-text
);

$angular-estado-encurso: ( default: $encurso-theme, 
                    lighter:$encurso-theme-lighter, 
                    darker: $encurso-theme-darker,
                    text: $encurso-theme,
                    
                    default-contrast: $light-primary-text,
                    lighter-contrast: $light-primary-text,
                    darker-contrast: $light-primary-text
);

$angular-estado-pendiente: ( default: $pendiente-theme, 
                    lighter:$pendiente-theme-lighter, 
                    darker: $pendiente-theme-darker,
                    text: $pendiente-theme,
                    
                    default-contrast: $light-primary-text,
                    lighter-contrast: $light-primary-text,
                    darker-contrast: $light-primary-text
);

$angular-alerta-leve: ( default: $leve-theme, 
                    lighter:$leve-theme-lighter, 
                    darker: $leve-theme-darker,
                    text: $leve-theme,
                    
                    default-contrast: $light-primary-text,
                    lighter-contrast: $light-primary-text,
                    darker-contrast: $light-primary-text
);

$angular-alerta-medio: ( default: $medio-theme, 
                    lighter:$medio-theme-lighter, 
                    darker: $medio-theme-darker,
                    text: $medio-theme,
                    
                    default-contrast: $light-primary-text,
                    lighter-contrast: $light-primary-text,
                    darker-contrast: $light-primary-text
);

$angular-alerta-grave: ( default: $grave-theme, 
                    lighter:$grave-theme-lighter, 
                    darker: $grave-theme-darker,
                    text: $grave-theme,
                    
                    default-contrast: $light-primary-text,
                    lighter-contrast: $light-primary-text,
                    darker-contrast: $light-primary-text
);

//------classes para usarlos--------------
$my-theme-cerrado: mat-light-theme($angular-estado-cerrado, $angular-estado-cerrado, $angular-estado-cerrado);
.cerrados{
    @include angular-material-theme ($my-theme-cerrado);
}

$my-theme-resuelto: mat-light-theme($angular-estado-resuelto, $angular-estado-resuelto, $angular-estado-resuelto);
.resuelto{
    @include angular-material-theme ($my-theme-resuelto);
}

$my-theme-encurso: mat-light-theme($angular-estado-encurso, $angular-estado-encurso, $angular-estado-encurso);
.encurso{
    @include angular-material-theme ($my-theme-encurso);
}

$my-theme-pendiente: mat-light-theme($angular-estado-pendiente, $angular-estado-pendiente, $angular-estado-pendiente);
.pendiente{
    @include angular-material-theme ($my-theme-pendiente);
}

$my-theme-leve: mat-light-theme($angular-alerta-leve, $angular-alerta-leve, $angular-alerta-leve);
.leve{
    @include angular-material-theme ($my-theme-leve);
}

$my-theme-medio: mat-light-theme($angular-alerta-medio, $angular-alerta-medio, $angular-alerta-medio);
.medio{
    @include angular-material-theme ($my-theme-medio);
}

$my-theme-grave: mat-light-theme($angular-alerta-grave, $angular-alerta-grave, $angular-alerta-grave);
.grave{
    @include angular-material-theme ($my-theme-grave);
}

//------ inversos --------


.whiteBack-Button{
    background-color: $white-theme-lighter !important;
    color: $cerrado-theme !important;
}

.blueBack-Button{
    background-color: $cerrado-theme !important;
    color: $white-theme-lighter !important;
}

//--------------------------------------------------------

$my-theme-theme:mat-light-theme($angular-estado-cerrado, $angular-estado-cerrado, $angular-alerta-grave);

@include angular-material-theme($my-theme-theme);

//--- Dark theme -------

$darkTheme-theme:mat-dark-theme($angular-alerta-grave, $angular-alerta-grave, $angular-alerta-grave);

//prueva para poder dar mas detalle en la creacion de temas que mat-dark-theme o mat-light-theme
/*$darkTheme-theme-test:(
    primary: $angular-alerta-grave,
    accent: $angular-alerta-medio,
    warn: $angular-alerta-leve,
    is-dark: true,
    foreground: $mat-dark-theme-foreground,
    background: map_merge($mat-dark-theme-background, (background: rgb(12, 12, 12)))
  );*/

//light y dark themes base --- se necesitarian cambiar por su respectiva forma de las clases de arriva
.dark{
    @include angular-material-theme($darkTheme-theme);
}

.light{
    @include angular-material-theme($my-theme-theme);
}

//otros estilos
.fila{
    display: flex;
    flex-direction: row;
}

.columna{
    display: flex;
    flex-direction: column;
}

.columnaInvertida{
    display: flex;
    flex-direction: column-reverse;
}

.hov:hover{
    background-color: #EFEEEE;
    cursor: pointer;
}

.font12{
    font-size: 12px;
}

.font13{
    font-size: 13px;
}

.font14{
    font-size: 14px;
}

.font15{
    font-size: 15px;
}

.font18{
    font-size: 18px;
}

.accentP{
  background-color: #616161
}

.accentEC{
  background-color: #3bdb98
}

.accentC{
  background-color: #0066cc
}

.accentR{
  background-color: #25dae7
}

.cut-text{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    text-overflow: ellipsis;
}