@import '~@angular/material/theming';
@include mat-core();


//---- Fonts ------------------


.font-Ralewaybold{
    font-family: ralewaybold;
    
}

.font-Ralewayextrabold{
    font-family: ralewayextrabold;
    
}
.font-Ralewayblack{
    font-family: ralewayblack;
    
}
.font-Opensansregular{
    font-family: open_sansregular;
    
}
.font-Opensansitalic{
    font-family: open_sansitalic;
    
}
.font-Opensanssemibolditalic{
    font-family: open_sanssemibold_italic;
    
}
.font-Opensanssemibold{
    font-family: open_sansitalic;
    
}


//---------------------------------



//testing color blue
$blue-theme: #0066cc;

$blue-theme-lighter: #0787d1;
$blue-theme-darker: #0053be;


$white-theme: #e6e6e6;
$white-theme-lighter:#eeeeee; 
$white-theme-darker: #d1d1d1;

.whiteBack-Button{
    background-color: $white-theme-lighter !important;
    color: $blue-theme !important;
}

.blueBack-Button{
    background-color: $blue-theme !important;
    color: $white-theme-lighter !important;
}

.titleFont-Bold{
    font: "Raleway-Bold";
}

//--------------------------------------------------------

//este es el color primario se utiliza en toda la pagina
$my-theme-primary: mat-palette($mat-yellow, 700, 300, 900);

//test new primary
$my-primary-test: ( default: $blue-theme, 
                    lighter:$blue-theme-lighter, 
                    darker: $blue-theme-darker,
                    text: $blue-theme,
                    
                    default-contrast: $light-primary-text,
                    lighter-contrast: $light-primary-text,
                    darker-contrast: $light-primary-text);

$my-theme-accent: ( default: $blue-theme, 
                    lighter:$blue-theme-lighter, 
                    darker: $blue-theme-darker,
                    text: $blue-theme,

                    default-contrast: $light-primary-text,
                    lighter-contrast: $light-primary-text,
                    darker-contrast: $light-primary-text);

$my-theme-warn: mat-palette($mat-red);


$my-theme-theme:mat-light-theme($my-primary-test, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme-theme);

//--- Dark theme -------

//este es el dark solo lo uso para que el searchbar tenga letra blanca
$darkTheme-primary: mat-palette($mat-yellow, 700, 300, 900);

//test new dark primary
$darkTheme-test-primary:(default: $white-theme, 
                        lighter:$white-theme-lighter, 
                        darker: $white-theme-darker,
                        text: $white-theme,

                        default-contrast: $light-primary-text,
                        lighter-contrast: $light-primary-text,
                        darker-contrast: $light-primary-text);


$darkTheme-accent: ( default: $white-theme-lighter, 
                    lighter:$white-theme-lighter, 
                    darker: $white-theme-lighter,
                    text: $blue-theme,

                    default-contrast: $blue-theme,
                    lighter-contrast: $blue-theme-lighter,
                    darker-contrast: $blue-theme-darker);

$darkTheme-warn: mat-palette($mat-red);


$darkTheme-theme:mat-dark-theme($darkTheme-test-primary, $darkTheme-accent, $darkTheme-warn);

//even harder test
$darkTheme-theme-test:(
    primary: $darkTheme-test-primary,
    accent: $darkTheme-accent,
    warn: $darkTheme-warn,
    is-dark: true,
    foreground: $mat-dark-theme-foreground,
    background: map_merge($mat-dark-theme-background, (background: rgb(12, 12, 12)))
  );

//se le agrega dark a la clase para transformarlo
.dark{
    @include angular-material-theme($darkTheme-theme-test);
}

.light{
    @include angular-material-theme($my-theme-theme);
}

//otros estilos
.fila{
    display: flex;
    flex-direction: row;
}

.columna{
    display: flex;
    flex-direction: column;
}

.hov:hover{
    background-color: #EFEEEE;
    cursor: pointer;
}

.font12{
    font-size: 12px;
}

.font13{
    font-size: 13px;
}

.font14{
    font-size: 14px;
}

.font15{
    font-size: 15px;
}

.font18{
    font-size: 18px;
}